<!DOCTYPE html>
<html>
<head>
  <title>
    <%=title %>
  </title>
</head>
<body>
  <form action="/flashcard" method="post">
    <div>
      <label>Word:</label>
      <input type="text" name="word"/>
    </div>
    <div>
      <label>Defenition:</label>
      <input type="text" name="defenition"/>
    </div>
    <div>
      <input type="submit" name="Create Flashcard"/>
    </div>
  </form>
</body>
</html>